@media only screen and (min-width: 768px) {


  .App {
    height: 100%;
    display: grid;
    grid-template-rows: 85px auto;

  }

  .hamburger-grid {

    grid-row-start: 1;
    grid-row-start: 2;

  }


  .main-content {
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100vh;
  }

  nav {
    background-color: red !important;
  }
}

@media only screen and (max-width: 767px) {


  .App {
    height: 100%;
    display: grid;
    grid-template-rows: 41px 94%;

  }

  .hamburger-grid {

    grid-row-start: 1;
    grid-row-start: 2;

  }


  .main-content {
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100vh;
  }

  nav {
    background-color: red !important;
  }
}