.register-form-flexer {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 19%;

}

.user-registration-form {
    padding: 2%;


}



.user-registration-form {
    background-color: burlywood;
    height: 100vh;

}

.user-registration-form label {
    display: inline-block;
    width: 100%;


    text-align: center;
}


.registration_submitbutton {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    ;
}

.register-alert {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 170%;
    padding-bottom: 7%;
    padding-top: 5%;
}

.close-register-field {
    font-size: 150%;
    color: red;
    padding: 5%;
    text-align: center;
}

.submitbutton {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    ;
}