.hamburger-menu-list-open {
    height: 92%;
    background: blue;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    padding-top: 10%;

    top: 0;
    left: 0;
    display: flex;
    justify-content: center;



    z-index: 200;
    color: red;
    transform: translateX((-100%));
    transition: 0.3s ease-out;

}

@media only screen and (min-width: 767px) {
    .hamburger-menu-list-open a {
        font-size: 350%;

        text-decoration: none;
        color: white;
        list-style: none;
        font-weight: bold;

    }
}


.hamburger-menu-list-open a:hover {
    color: blue;
}


.hamburger-menu-list-open a:active {
    color: #fa923f;
}

.hamburger-menu-list-open {
    transform: translateX((0));
}


.hamburger-menu-list-open li {
    list-style-type: none;
    margin-top: 20%;

}

@media only screen and (max-width: 767px) {
    .hamburger-menu-list-open a {
        font-size: 200%;

        text-decoration: none;
        color: white;
        list-style: none;
        font-weight: bold;

    }

}